// Variáveis de cor
$corDeFundo: #000000; // Fundo preto para dar um tom misterioso e cinematográfico
$corTextoPrincipal: #FFFFFF; // Texto principal em branco para contraste no fundo escuro
$corTextoSecundario: #FF5A36; // Um laranja queimado inspirado no pôster do filme, para o texto secundário e detalhes
$corDeFundoBotao: #004d99; // Azul escuro
$corDeFundoBotaoHover: #0066cc; // Azul mais claro para hover
$corTextoBotao: #ffffff; // Branco para o texto do botão
